%h2 Edit Page

= form_for @page, :url => admin_page_path(@page) do |f|
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.check_box :protected
    = f.label :protected
  %p
    = f.label :body
    %br
    = f.text_area :body, 'data-preview' => true
  .control-bar
    = f.submit "Save"