= form_for @lm do |f|
  = error_messages_for @lm

  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :description
    %br
    = f.text_field :description
  %p
    = f.label :url
    %br
    = f.text_field :url
  .control-bar
    = f.submit