%h1 Your Profile Information

= form_for @person, :url => person_path(@person) do |f|
  = error_messages_for @person

  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :email
    %br
    = f.text_field :email
  #profile
    %p.description
      = f.label :description
      %br
      = f.text_area :description, 'data-preview' => true
  %hr
  %p
    = f.label :twitter
    %br
    = f.text_field :twitter
  %p
    = f.label :website
    %br
    = f.text_field :website
  .control-bar
    = f.submit "Save"