- content_for(:title) { @person.name }

#profile

  .header
    .avatar= @person.icon(100)

    .bigtext
      .name= @person.name

    .social
      = @person.github_link
      = @person.twitter_link
      = @person.website_link

  .description= @person.description

  - if current_user && current_user.id == @person.id
    .control-bar
      = link_to "Edit Profile", edit_person_path(current_user),
        :class => "clean-gray"