= content_tag_for :article, article do
  .article_title
    = link_to article.title, article_path(article)

  .article_content= article.body

  = render 'user_info', :article => article, :profile_size => "100"

  - if article.editable_by?(current_user)
    .control-bar
      = link_to 'Edit', edit_article_path(article), :class => "clean-gray"
      = link_to 'Destroy', article, :confirm => 'Are you sure?',
        :method => :delete, :class => "clean-gray warn"

= tag :hr, :class => "separator" if @articles && article != @articles.last
