= article.div do
  .article_title
    - if @articles
      = link_to article.title, article_path(article)
    - else
      = article.title

  .article_content= article.body

  = render 'user_info', :article => article, :profile_size => "100"

= article.bottom(@articles, articles_path)
