= content_tag_for :article, article do
  .article_title{:class => (:unread unless article.read_by?(current_user))}
    - if @articles
      = link_to article.title, article_path(article)
    - else
      = article.title

  .article_content= article.body

  = render 'user_info', :article => article, :profile_size => "100"

= article.bottom(@articles, articles_path)
