= form_for @article, :html => { :id => "article-form" } do |f|
  = error_messages_for(@article)

  .field
    = f.label :title
    %br
    = f.text_field :title, :autofocus => true
    //%span.hint Create a short and descriptive title for your post.
  .field
    = f.label :url
    %br
    = f.text_field :url
    //%span.hint The url you want to link to.
  .field
    = f.label :body
    %br
    = f.text_area :body, "data-preview" => true
  .control-bar
    = f.submit @article.new_record? ? 'Post' : 'Update'
    or
    = link_to "get me out of here", root_path
