= form_for @article, :html => { :id => "article-form", :data => { 'track-changes' => true } } do |f|
  = error_messages_for(@article)

  .field
    = f.label :title
    %br
    = f.text_field :title, :autofocus => true
    //%span.hint Create a short and descriptive title for your post.
  .field
    = f.text_area :body, "data-preview" => true
  .field
    = f.check_box :sticky
    = f.label :sticky
  .control-bar
    = f.submit @article.new_record? ? 'Post' : 'Update'
    or
    = link_to "get me out of here", root_path
