= form_for @article, :html => { :id => "article-form", :data => { 'track-changes' => true } } do |f|
  = error_messages_for(@article)

  .field
    = f.label :title
    %br
    = f.text_field :title, :autofocus => true
  .field
    = f.check_box :public
    = f.label :public, "Allow the general public to view this update"
  - if current_user.admin?
    .field
      = f.check_box :sticky
      = f.label :sticky, "Make this update sticky"
  .field.markdown-preview
    = f.text_area :body, "data-preview" => true
  .control-bar
    = f.submit @article.new_record? ? 'Post' : 'Update'
    or
    = link_to "get me out of here", root_path

    - if current_user.admin?
      .highlight
        = f.check_box :highlight
        = f.label :highlight
