%nav
  %span.title
    = link_to "<strong>Community</strong> @ Mendicant University".html_safe,
      root_path
  = render :partial => "shared/flash", :locals => { :flash => flash }
  %span.nav
    = link_to "Updates", "#TODO"
    = link_to "People", people_path
    = link_to "About", "#TODO"
    %span#account
      - if current_user
        = link_to current_user.name, person_path(current_user.github)
        = link_to "Sign out", logout_path
      - else
        = link_to "Sign in with Github", login_path, :class => "skip"
