%nav
  %span.title
    = link_to "<strong>Community</strong> @ Mendicant University".html_safe,
      root_path
  = render :partial => "shared/flash", :locals => { :flash => flash }
  %span.nav
    = render :partial => "shared/unread_count",
      :locals => { :count => @inbox.articles, :type => "articles" }
    = link_to "Updates", articles_path
    - if current_user
      = render :partial => "shared/unread_count",
        :locals => { :count => @inbox.activities, :type => "activities" }
      = link_to "Activities", activities_path
      = link_to "Unicorns", page_path("unicorns")
    - else
      = link_to "About", about_path
    %span#account
      - if current_user
        = link_to current_user.name, person_path(current_user.github)
        = link_to "Sign out", logout_path
      - #else
      - # link_to "Sign in with Github", login_path
