= form_for @project, :url => ProjectDecorator.decorate(@project).path do |f|
  = error_messages_for @project

  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :description
    %br
    = f.text_field :description
  %p
    = f.label :source_url
    %br
    = f.text_field :source_url
  .control-bar
    = f.submit