- content_for(:title) { @project.name }

#project
  %h1= @project.name

  %p= @project.description

  %p= @project.source

  - if @project.can_edit?(current_user)
    .control-bar
      = link_to "Edit", @project.edit_path, :class => "clean-gray"
      = link_to "Destroy", @project.show_path, :method => "DELETE",
        :confirm => "Are you sure you wish to delete this project?",
        :class   => "warn"