= content_tag_for :div, activity do
  .activity_title
    - if @activities
      = link_to activity.title, activity_path(activity)
    - else
      = activity.title

    = activity.registration_button

  .activity_content= activity.body

  .activity_info
    = activity.participants_link
    = activity.author_link
    %br
    = activity.created_at

  - if !@activities && @participants.any?
    #participants
      .label
        %h3 Participants
      = render :partial => "participant", :collection => @participants
      #current_user{:style => ("display: none;" unless @activity.approved_participants.include? current_user)}
        = render :partial => "participant", :locals => { :participant => @user }

= activity.bottom(@activities, activities_path)

