= content_tag_for :div, activity do
  .activity_title
    - if @activities
      = link_to activity.title, activity_path(activity)
    - else
      = activity.title

    = activity.registration_button

  .activity_content= activity.body

  .activity_info
    = activity.participants_link
    = activity.author_link
    %br
    = activity.created_at

  - if !@activities && @participants.any?
    #participants
      .label
        %h3 Participants
      - @participants.each do |user|
        = link_to person_path(user), :class => "participant", :rel => "twipsy", :title => user.name do
          = user.icon(64)

= activity.bottom(@activities, activities_path)

