- user = UserDecorator.decorate(f.object.user) if f.object.user
.nested-fields
  - if f.object.persisted?
    = f.hidden_field :user_id
    .user= user.icon(64)
    %strong= user.name
  - else
    = f.select :user_id, @users
  %br
  = f.check_box :approved
  = f.label :approved, "Approved", :class => "checkbox"
  %br
  = link_to_remove_association "Remove", f, :class => "warn clean-gray"