= content_tag_for(:div, activity, :class => activity.css_class) do
  .activity_title
    - if @activities
      = link_to activity.title, activity_path(activity)
    - else
      = activity.title

    = activity.registration_button

  .activity_content
    = activity.body
    - if @activities
      %p.discussion-list
        %em= activity.discussion_list_link


  .activity_info
    = link_to activity.author.icon(100), person_path(activity.author)
    = activity.participants_link if @activities
    %div= activity.author_link
    - if activity.deadline.present?
      %div.deadline
        %span{:title => 'deadline'}= activity.deadline
    %div.posted= "Added: #{activity.created_at}"

  - if !@activities
    - if @activity.approved_participants.any?
      #participants.section
        .label
          %h3 Participants
        = render :partial => "participant", :collection => @participants
        - # TODO clean this up
        #current_user{:style => ("display: none;" unless @activity.approved_participants.include? current_user)}
          = render :partial => "participant", :locals => { :participant => @user }
    - if @activity.discussion_list && @activity.approved_participants.include?(current_user)
      .section
        .label
          %h3 Discussion List
        = @activity.discussion_list_link


= activity.bottom(@activities, activities_path)

