= form_for @activity, :html => { :data => { 'track-changes' => true } } do |f|
  = error_messages_for(@activity)

  .field
    = f.label :title
    %br
    = f.text_field :title, :autofocus => true
  .field
    = f.check_box :registration_open
    = f.label :registration_open
  .field
    = f.check_box :participation_moderated
    = f.label :participation_moderated
  .field
    = f.label :deadline
    %br
    = f.text_field :deadline
  .field
    = f.text_area :body, "data-preview" => true

  - if @activity.persisted?
    .activity
      #participants.section
        .label
          %h3 Participants

        = f.fields_for :activity_registrations do |a|
          = render 'activity_registration_fields', :f => a
        %p
          = link_to_add_association "Add another participant",
          f, :activity_registrations, :class => "clean-gray"
