- content_for :section_name do
  = link_to "Activities", activities_path
  &raquo; Edit your activity

= render 'form'
= render 'discussion_list'
.control-bar
  = submit_link 'Update', "edit_activity_#{@activity.id}"
  or
  = link_to "get me out of here", activities_path