- content_for(:title) { @activity.title }

= render :partial => "header"

= render :partial => "activity", :locals => { :activity => @activity }

- if @activity.editable_by?(current_user)
  .control-bar
    - if @activity.archived?
      = link_to 'Restore', restore_activity_path(@activity), :class => "clean-gray",
        :method => :post, :confirm => 'Are you sure?'
    - else
      = link_to 'Edit', edit_activity_path(@activity), :class => "clean-gray"
      = link_to 'Archive', archive_activity_path(@activity), :class => "clean-gray",
        :method => :post, :confirm => 'Are you sure?'
      = link_to 'Destroy', @activity, :confirm => 'Are you sure?',
        :method => :delete, :class => "clean-gray warn"