!!! 5
%html{ :lang => "en"}
  %head
    %title
      = yield(:title).blank? ? controller_name.humanize : yield(:title)
      \- Mendicant Community


    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag

    = yield(:header_bottom)

  %body
    = render "shared/navigation"
    = render "shared/section_header"

    #site-alert
      Hi Friend! This is a static copy of Mendicant's old Community Site. 
      This project has been sunset therefore we are no longer updating it. 
      For the latest news about the school, check out 
      = link_to "our main site.", "http://mendicantuniversity.org"
      Thanks for visiting!
    #container= yield
    = render "shared/footer"
