!!! 5
%html{ :lang => "en"}
  %head
    %title
      = yield(:title).blank? ? controller_name.humanize : yield(:title)
      \- Mendicant Community


    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag

    = yield(:header_bottom)

  %body
    = render :partial => "shared/flash", :locals => { :flash => flash }
    #root
      #container
        = render :partial => "shared/navigation"
        -#= render :partial => "shared/breadcrumbs"
        = yield
      #root-footer
    %footer
      A #{link_to "Mendicant University", "http://university.rubymendicant.com"} Project
