!!! 5
%html{ :lang => "en"}
  %head
    %title
      = yield(:title).blank? ? controller_name.humanize : yield(:title)
      \- Mendicant Community


    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag

    = yield(:header_bottom)

  %body
    = render :partial => "shared/navigation", :locals => { :flash => flash }
    = render :partial => "shared/section_header"
    #container= yield
